/* ===============================================
GLOBAL STYLES
================================================== */
:root {
/* COLORS */
    /* PRIMARY */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* NEUTRAL */
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);

/* TYPOGRAPHY */
    /* FONT */
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background: var(--very-light-gray);
}


/* ===============================================
HEADER
================================================== */
header {
    margin: 20px auto;
    max-width: 500px;
    text-align: center;
}

header h1 {
    font-weight: 200;
    margin-bottom: 10px;
    font-size: 2.3rem;
    color: var(--very-dark-blue);
}

header h2 {
    font-weight: 600;
    font-size: 2.3rem;
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--very-dark-blue);
}

header p {
    color: var(--grayish-blue);
    font-size: 16px;
    line-height: 25px;
}


/* ===============================================
MAIN LAYOUT
================================================== */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1350px;
}


/* ===============================================
BOXES
================================================== */
.box {
    background: white;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.1);
    padding: 30px;
    margin: 15px;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.box::after {
    content: "";
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.red::after {
    background: var(--red);
}

.cyan::after {
    background: var(--cyan);
}

.orange::after {
    background: var(--orange);
}

.blue::after {
    background: var(--blue);
}

.box-center {
    transform: translateY(50%);
    /* TRANSLATES 50% OF THE HEIGHT(Y-AXIS) FROM THE TOP */
}

.box h2 {
    margin: 0;
}

.box img {
    display: block;
    margin-left: auto;
}

.box p {
    color: var(--grayish-blue);
    font-size: 14px;
    margin: 15px 0 30px;
    width: 250px;
    line-height: 25px;

}


/* ===============================================
MEDIA QUERIES
================================================== */
@media only screen and (max-width: 1169px) {
    .box-center {
        transform: translateY(0);
        /* TRANSLATES 0% OF THE HEIGHT(Y-AXIS) FROM THE TOP */
    }

}

@media only screen and (max-width: 425px) {
    header {
        margin: 50px auto;
    }

    header h1 {
        font-size: 1.9rem;
    }
    
    header h2 {
        font-size: 1.9rem;
    }
    
    header p {
        font-size: 18px;
        line-height: 25px;
        max-width: 350px;
        margin: 0 auto;
    }

    .container {
        margin-bottom: 50px;
    }

}


/* ===============================================
NOTES:

- COMMENT ALL CODE AND LABEL WHAT IT'S DOING
================================================== */
